<% layout('layout') -%>
    <div style="text-align:center">
    
     <img src="install/images/brillio-logo.png"><br/><br/><br/>
    <div id="iconContainer" class="container clearfix">
        
        <div class="col-sm-12 clearfix">
            <div id="androidApp" class="col-sm-12 clearfix"><img src="install/images/android.png"></div>
<!--            <div id="iosApp" class="col-sm-6 clearfix"><img src="install/images/ios.png"></div>-->
        </div>    
        <h4 class="col-sm-12 clearfix" style="margin-top:10%;">Click on icon to get the list of application</h4>
    </div>
    <div id="androidAppList" class="container clearfix" style="display:none">
        
        <div id="androidApp" class=" clearfix"><img src="install/images/android.png"></div>
        <ul>
            <li><a href="http://bdemo.herokuapp.com/install/CoatsGama.apk">Coats Gama</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/CoatsTracker.apk">Coats Tracker</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/Lenova.apk">Lenova</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/Master_card.apk">MasterCard</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/RealEstate.apk">RealEstate</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/RealEstateAdmin.apk">RealEstateAdmin</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/AssetHealth.apk">Asset Health</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/brilliotracker.apk">Brillio Tracker</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/brillioRealEstate.apk">Brillio RealEstate</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/hdfc.apk">HDFC</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/rb_sales.apk">RB Sales</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/trading_wearable.apk">Trading Wearable</a></li>
        </ul>
        <br/>
        <hr/>
        <ul style="color:orange">
             <li><a href="http://bdemo.herokuapp.com/install/BrillioVR.apk" style="color:orange !important">Brillio VR</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/RCI_UAT.apk" style="color:orange !important">RCI - DRDO</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/HandOff_C_BGT_Staging.apk" style="color:orange !important">Falconbrick Handoff</a></li>
           
           
        </ul>
    
        <br/>
        <br/>
        <h4>Click on links to download Android application</h4>
    </div> 
    <div id="iosAppList" class="container clearfix"  style="display:none">
        <div id="iosApp" class="clearfix"><img src="install/images/ios.png"></div>
         
        <ul>
            <li><a href="itms-services://?action=download-manifest&url=https://bdemo.herokuapp.com/install/iosapps/manifest.plist">Demo APP</a></li>
            
        </ul>
        <br/><br/>
        <h4>Click on links to download IOS application</h4>
    </div>
    </div>    