<% layout('layout') -%>
    <div style="text-align:center">
    
     <img src="/images/brillio-logo.png"><br/><br/><br/>
    <div id="iconContainer" class="container clearfix">
        
        <div id="androidApp" class=" clearfix"><img src="/images/android.png"></div>
<!--        <div id="iosApp" class="col-sm-6 clearfix"><img src="/images/ios.png"></div>-->
        <h4>Click on icon to get the list of application</h4>
    </div>
    <div id="androidAppList" class="container clearfix" style="display:none">
        
        <div id="androidApp" class=" clearfix"><img src="/images/android.png"></div>
        <ul>
            <li><a href="http://bdemo.herokuapp.com/install/CoatsGama.apk">Coats Gama</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/CoatsTracker.apk">Coats Tracker</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/Lenova.apk">Lenova</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/Master_card.apk">MasterCard</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/RealEstate.apk">RealEstate</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/RealEstateAdmin.apk">RealEstateAdmin</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/AssetHealth.apk">Asset Health</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/brilliotracker.apk">Brillio Tracker</a></li>
            <li><a href="http://bdemo.herokuapp.com/install/brillioRealEstate.apk">Brillio RealEstate</a></li>
        </ul>
    

        
        
        
        
         

        <h4>Click on links to download Android application</h4>
    </div> 
    <div id="iosAppList" class="container clearfix"  style="display:none">
        <div id="iosApp" class="col-sm-6 clearfix"><img src="/images/ios.png"></div>
        <h4>Click on links to download IOS application</h4>
    </div>
    </div>    